@import url(https://fonts.google.com/share?selection.family=Poppins:wght@800);

:root {
    --primary-color: #730F0F; /* Основной цвет */
    --secondary-color: #bb9564; /* Вторичный цвет */
    --text-color: #2b2b11; /* Цвет текста */
    --background-color: #C9D68A; /* Цвет фона */
    --background-two-color: #adcea4; /*чередовние бэков*/
    --accent-color: #301907; /* Акцентный цвет */
    --link-color: #092304; /*для ссылок*/

}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif; 
    font-weight: 400;
    color: #142017; /*для текста на странице по умолчанию*/
    font-size: 16px;
}

a { /* указываем то, что для всех ссылок мы убираем нижнее подчеркивание*/
    text-decoration: none;
}

img { /*для всех картинок максимальная ширина будет 100%, чтобы изображение не вылазило за пределы родительского блока*/
    max-width: 100%;
}

.birdimages {
    width: 200px;
    height: auto; /* Сохраняет пропорции */
    border-radius: 10px; /* Закругляет углы */
    border: 5px solid #4a813c;
}

.wrapper {
    background: rgb(64,129,64);
    background: #DAFFD7;
    width: 100%;
}

.container {
    width: 1400px;
    margin: 0 auto;

}

header {
    padding: 50px 0;
}

header .logo {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 800;
}

header nav {
    float: right; 
    width: 40%;
    font-weight: 600;

}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

header nav ul li {
    display: inline-block; /*тут мы говорим, что каждый отдельный элемент
    в блоке это отдальный текст или часть,
    к которой мы будеи обращаться*/
}

header nav ul li a{ /*покрасили ссылки в белый цвет*/
    color: #234A1B;

}

header nav ul li.active::after{
    content: '';
    display: block;
    width: 40px;
    height: 5px;
    background: #614028;
    border-radius: 10px;
    position: relative;
    top: 10px;
    left: -10px;
}

header nav ul li:not(.active) a:hover { /*если пункт меню активен, то при наведении не будет применяться при наведении на ссылку*/
    border-bottom: 5px solid #e9b895;

}

header nav ul li.btn a{
    background: #925225;
    padding: 9px 17px;
    border-radius: 5px;
    transition: all 500ms ease; /*это плавный переход, который мы применяем ко всем свойствам, ease это просто название самого эффекта*/

}

header nav ul li.btn a:hover{
    background: #614028;
}

.hero--container{
    display: flex;
    padding-bottom: 50px;
    flex-direction: column;
    height: auto;
    width: auto;
}


.hero--info{
    height: 70vh;
    width: auto;
    padding-top: 20px;
    background-color: var(--background-two-color);
}

.hero--info a{
    color: #092304;
}

.hero--info h1 {
    text-align: center;
    color:#614028;
    font-size: 40px;
    font-weight: 600;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 50px;
    margin-left: 50px;
}

.hero--info p {
    color: #733600;
    font-size: 20px;
    font-weight: 600;
    margin-left: 50px;
}

.hero--info h3, .hero--info h4, .hero--info h5, .hero--info h6 {
    font-weight: 900;
    line-height: 170%;
    margin: 30px 30px;

}


.hero--info .btn {
    background: #68513e;
    color: #080701;
    border-radius: 50px;
    padding: 15px 30px;
    border: 0;
    transition: all 500ms ease;
    font-size: 18px;
    margin: 30px 0;
    margin-left: 770px;
}

.hero--info .btn:hover {
    cursor: pointer;
    transform: scale(1.1);
}


.imaginecont { /*тут картинка с птичкой, это ее родительский элемент в главном элементе хиро инфо*/
    display: flex;
    height: 300px;
   /* Выравниваем содержимое по центру */
   
    
}

.birdimages {
    margin-right: 300px; /* Отступ справа от изображения */
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 560px;
}

.vertical-text {
    display: flex;
    flex-direction: column; /* Размещаем элементы в столбец */
    justify-content: space-between; /* Распределяем равномерно по высоте */
    height: 90%; /* Занимает всю высоту контейнера 100 процентов от родительского элемента*/
    font-size: 27px; /* Размер шрифта */
    color: #092304; /* Цвет текста */
    font-weight: bold;
    margin-top: 9px;
    
}

.vertical-text span {
    writing-mode: vertical-rl; /* Вертикальное написание текста */
    margin-bottom: 5px;
    transform: rotate(270deg);
    
}


/*перешли к блоку с информацией обо мне, то есть вторрой основной болк после меню*/

.baseinfo {
    display: flex;
    flex-direction: column; /* Меняем направление на вертикальное */
    align-items: center; /* Выравниваем элементы по центру */
    gap: 20px; /* Уменьшаем расстояние между текстом и изображениями */
    margin: auto;
    padding: 20px; /* Добавляем отступы внутри блока */
    background-color: var(--background-two-color);
}

.textleftone {
    padding-left: 10px;
    background-color: #debe95;
    border-radius: 40px;
    width: 100%; /* Текстовый блок занимает всю ширину */
} 

.textleftone h2 {
    margin: 10px;
    font-weight: 900;
    color: #234A1B;
}

.textleftone h3 {
    margin: 10px;
    text-align: center;
    font-weight: 900;
    color: #234A1B;
}

.textleftone a {
    color: #092304;
}

.textleftone p{
    margin-left: 10px;
    color: #234A1B;
}

.textleftone address{
    margin-left: 15px;
    color: #234A1B;
}

.overlay-images {
    display: flex;
    justify-content: space-between; /* Распределяем изображения по ширине */
    align-items: center;
    width: 100%; /* Контейнер занимает всю ширину */
}

.overlay-images img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.ov-im1, .ov-im2, .ov-im3 {
    display: block;
    object-fit: cover;
    width: 200px;
    height: auto;
    outline: 5px solid #092304;
    outline-offset: 10px;
    margin: 25px;
}

.down{
    color: #4a2910;
    font-weight: 700;
    background-color: #DAFFD7;
}

.down p{
    font-size: 20px;
    font-weight: 600;
}

.down footer p{
    font-size: 15px;
}

.down footer a{
    color: #092304;
}



/*на момент создания второй страницы попробовала добавить основыне цвета
и испоьлзовать их на практике, пока только разбираюсь как это будет работать, но страничка 
уже выглядит прикольно

на данный момент не разобралась с размерами и расположением на странице
не понимаю что куда идет, изучила флекс бокс, блоки, но все равно не понятно
*/

@import url(https://fonts.googleapis.com/css?family=Lora);

.galleryBody{
    background-color: var(--background-color);
}

.three h2 {
  font-family: monospace;
  color: var(--primary-color);
}
.three ul {
  list-style: none; 
  margin: 0 auto;
}
.three a {
  text-decoration: none;
  font-family: 'Lora', serif;
  transition: .5s linear;
}

nav .three{
  display: block;
  width: 660px;
  margin: 0 auto 30px;
}

.three ul {
    padding: 0;
    background: #E4EFD1;
  }
  .three li {
    display: inline-block;
  }
  .three a {
    padding: 1em;
    display: block;
    color: #74924C;
    border-right: 1px solid #BAD78B;
    background: rgba(186, 215, 139, .3);
  }
  .three a:hover {background: #BAD78B}

  .introduction{
    text-align: center; /*выравнивание всего текста в блоке введения по центру*/
    
}

.gallery{
    display: flex;
    flex-direction: column; /* Элементы внутри галереи будут располагаться вертикально вроде*/
    gap: 20px; /* Расстояние между элементами */
    padding: 20px; /* Внутренние отступы */
    margin: 30px; /* Внешние отступы */
    border: 8px double #266030; /* Рамка вокруг галереи*/
    
}

.gallery img{

    border-radius: 50%;
    width: 100%; /* Ширина будет адаптироваться */
    max-width: 200px; /* Максимальная ширина */
    height: auto; /* Высота будет автоматически подстраиваться */
    object-fit: cover;
    
}

.description a{
    color: var(--link-color); /*такой же как и текст, так вышло...*/
}










